@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import './reset.css';
@font-face {
  font-family: "Bicubik";
  src: url("../assets/fonts/Bicubik/Bicubik.OTF");
}
@media screen and (max-width: 962px) {
  :root {
    font-size: 12px;
  }
}
@media screen and (max-width: 768px) {
  :root {
    font-size: 10px;
  }
}

li a {
  font-size: 1.5rem;
}

* a {
  color: inherit;
  font-size: 1rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
  text-decoration: none;
}

h2 {
  font-size: 2rem;
}

p {
  font-size: 1.5rem;
}

.h1 {
  font-size: 3rem;
  font-family: "Bicubik";
}

@keyframes blackout {
  100% {
    background-color: rgba(0, 0, 0, 0.6);
  }
}
@keyframes glowingRed {
  0% {
    box-shadow: 0 0 0.5vw #A30000;
  }
  50% {
    box-shadow: 0 0 1vw #A30000;
  }
  100% {
    box-shadow: 0 0 0.5vw #A30000;
  }
}
@keyframes glowingWhite {
  0% {
    box-shadow: 0 0 0.5vw white;
  }
  50% {
    box-shadow: 0 0 1vw white;
  }
  100% {
    box-shadow: 0 0 0.5vw white;
  }
}
@keyframes textIn {
  0% {
    transform: translateX(-1000px);
  }
  50% {
    transform: translateX(20px);
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes unhidden {
  0% {
    transform: translateY(0px);
    opacity: 0;
  }
  50% {
    transform: translateY(-15px);
    opacity: 0.5;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes opacityFromZeroToOne {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.master-class {
  background-image: url("../assets/background/main-first-section-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.master-class .header {
  animation: opacityFromZeroToOne 2s forwards;
}
.master-class .header .header-container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 2.5vw;
}
.master-class .header .header-container .header__logo-container {
  width: 14vw;
}
.master-class .header .header-container .header__logo-container a .cls-1 {
  transition: 0.5s;
}
.master-class .header .header-container .header__logo-container:hover a .cls-1 {
  fill: #A30000;
}
.master-class .header .header__menu {
  display: grid;
}
.master-class .header .header__menu .header__list {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(5, auto);
  gap: 2vw;
  list-style-type: none;
}
.master-class .header .header__menu .header__list .header__item {
  display: grid;
  align-items: center;
  position: relative;
}
.master-class .header .header__menu .header__list .header__item a {
  color: white;
  transition: 0.5s;
}
.master-class .header .header__menu .header__list .header__item::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0px;
  height: 1px;
  background-color: white;
  transition: 0.5s;
}
.master-class .header .header__menu .header__list .header__item:hover a {
  color: #A30000;
}
.master-class .header .header__menu .header__list .header__item:hover::before {
  width: 100%;
  height: 1px;
  background-color: #A30000;
}
.master-class .header .contacts-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  gap: 1.5vw;
}
.master-class .header .contacts-container .header__contacts .number {
  display: flex;
  justify-content: center;
}
.master-class .header .contacts-container .header__contacts .number a {
  color: white;
  transition: 0.5s;
}
.master-class .header .contacts-container .header__contacts .number:hover a {
  color: #A30000;
}
.master-class .header .contacts-container .header__contacts address {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-style: normal;
  font-size: 0.75vw;
}
.master-class .master-class__content {
  padding: 6vw 0vw 12vw;
  display: grid;
  align-items: center;
}
.master-class .master-class__content .master-class__content__text-container {
  display: grid;
  align-items: center;
  width: 50%;
  animation: textIn 2s forwards;
}
.master-class .master-class__content .master-class__content__text-container .info-text {
  padding-top: 3vw;
  animation: textIn 3s forwards;
}
.master-class .master-class__content .master-class__content__button-container {
  padding-top: 4.5vw;
  display: flex;
  gap: 1.25vw;
}
.master-class .master-class__content .master-class__content__button-container .icon-container {
  gap: 1vw;
  display: flex;
}
.master-class .master-class__content .master-class__content__button-container .icon-container li {
  transition: 0.5s;
}
.master-class .master-class__content .master-class__content__button-container .icon-container li:first-child {
  opacity: 0;
  animation: unhidden 1.3s 0.5s forwards;
}
.master-class .master-class__content .master-class__content__button-container .icon-container li:last-child {
  opacity: 0;
  animation: unhidden 1.6s 0.5s forwards;
}
.master-class .master-class__content .master-class__content__button-container .icon-container li a svg {
  fill: white;
  transition: 0.5s;
  border-radius: 50%;
  background-color: transparent;
  background-clip: content-box;
}
.master-class .master-class__content .master-class__content__button-container .icon-container li:hover {
  transform: translateY(-4px);
}
.master-class .master-class__content .master-class__content__button-container .icon-container li:hover svg {
  background-color: white;
}
.master-class .master-class__content .master-class__content__button-container .icon-container li:hover .cls-1 {
  fill: #A30000;
}

.our-courses .our-courses__menu .our-courses__list {
  display: flex;
  align-items: center;
  padding-top: 1vw;
  list-style-type: none;
}
.our-courses .our-courses__menu .our-courses__list .our-courses__item {
  padding: 0.75vw 2vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border-bottom: 0.16vw solid #A30000;
  background-color: white;
  font-size: 1.5vw;
  color: #A30000;
  cursor: pointer;
  transition: 0.4s;
  width: 100%;
  height: 100%;
}
.our-courses .our-courses__menu .our-courses__list .our-courses__item:hover {
  transform: translateY(-5px);
  background-color: #A30000;
  color: white;
}
.our-courses .our-courses__menu .our-courses__list .selected {
  background-color: #A30000;
  color: white;
}
.our-courses .our-courses__content {
  padding-top: 3vw;
}
.our-courses .our-courses__content .our-courses__card-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  justify-content: flex-start;
  align-items: center;
}
@media screen and (max-width: 786px) {
  .our-courses .our-courses__content .our-courses__card-list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 376px) {
  .our-courses .our-courses__content .our-courses__card-list {
    grid-template-columns: repeat(1, 1fr);
  }
}
.our-courses .our-courses__content .our-courses__card-list .card {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.our-courses .our-courses__content .our-courses__card-list .card:hover .card__img-container img {
  transform: scale(1.2);
}
.our-courses .our-courses__content .our-courses__card-list .card .card__img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.our-courses .our-courses__content .our-courses__card-list .card .card__img-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.5s;
}
.our-courses .our-courses__content .our-courses__card-list .card .card-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
  background-color: rgba(0, 0, 0, 0.2);
  display: grid;
  justify-content: center;
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1vw;
}
.our-courses .our-courses__content .our-courses__card-list .card .card-container:hover {
  background-color: rgba(0, 0, 0, 0.6);
}
.our-courses .our-courses__content .our-courses__card-list .card .card-container .more {
  padding: 0.5vw 1vw;
  background-color: #A30000;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25vw;
  font-weight: 300;
  color: white;
  cursor: pointer;
  transition: 0.5s;
}
.our-courses .our-courses__content .our-courses__card-list .card .card-container .more:hover {
  background-color: white;
  color: #A30000;
}

.buttons-container {
  padding-top: 3vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5vw;
}

.who-we-are {
  background: linear-gradient(-45deg, #710f0f, #A30000, #710f0f, #A30000, #710f0f, #A30000);
  background-size: 400% 400%;
  animation: gradient 8s ease infinite;
}
.who-we-are .wrapper {
  padding-bottom: 0;
}
.who-we-are .wrapper .container__top {
  display: grid;
}
.who-we-are .wrapper .container__top .who-we-are__container-top {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2vw;
}
.who-we-are .wrapper .container__top .who-we-are__container-top__left {
  padding-top: 2vw;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-areas: "a a" "b c";
}
.who-we-are .wrapper .container__top .who-we-are__container-top__left .star {
  padding-left: 6vw;
  position: relative;
  color: white;
  grid-column-start: 1;
  grid-column-end: 3;
  font-size: 1.5vw;
}
.who-we-are .wrapper .container__top .who-we-are__container-top__left .star::first-line {
  font-weight: 700;
}
.who-we-are .wrapper .container__top .who-we-are__container-top__left .star::before {
  content: "*";
  position: absolute;
  top: 30%;
  left: 0vw;
  font-size: 5vw;
  color: black;
  font-family: "Bicubik";
}
.who-we-are .wrapper .container__top .who-we-are__container-top__left p {
  font-size: 1.5vw;
  color: white;
}
.who-we-are .wrapper .container__top .who-we-are__container-top__left .facts-container {
  padding-top: 2vw;
}
.who-we-are .wrapper .container__top .who-we-are__container-top__left .facts-container .facts {
  padding-top: 2vw;
}
.who-we-are .wrapper .container__top .who-we-are__container-top__left .facts-container .facts p {
  padding-left: 2vw;
  display: flex;
}
.who-we-are .wrapper .container__top .who-we-are__container-top__right {
  display: grid;
  width: 100%;
  height: 100%;
  position: relative;
}
.who-we-are .wrapper .container__top .who-we-are__container-top__right::before {
  background-image: url("../assets/sandler-text.png");
}
.who-we-are .wrapper .container__bottom {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr;
  align-items: center;
}
.who-we-are .wrapper .container__bottom__img-container {
  grid-column-start: 1;
  grid-column-end: 2;
}
.who-we-are .wrapper .container__bottom__img-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  bottom: -0.4vw;
}
.who-we-are .wrapper .container__bottom__text-container h1 {
  position: relative;
}
.who-we-are .wrapper .container__bottom__text-container h1 span {
  font-family: "Bicubik";
  color: black;
}
.who-we-are .wrapper .container__bottom__text-container h1::before {
  content: "«";
  position: absolute;
  top: -6vw;
  left: 0vw;
  font-size: 5vw;
  color: black;
  font-family: "Bicubik";
}
.who-we-are .wrapper .container__bottom__text-container h1:after {
  content: "– Игорь Борисович Сандлер";
  font-family: "Montserrat";
  font-size: 1.25vw;
  font-weight: 300;
  position: absolute;
  bottom: -2vw;
  right: -1vw;
}

.black {
  color: black;
}

.white {
  color: white;
}

.start-form {
  background-image: url("../assets/background/form-bg.jpg");
  background-position: center center;
  background-size: cover;
}
.start-form .form {
  padding: 1vw 2vw;
  display: grid;
  grid-template-columns: repeat(1, auto);
  grid-template-rows: auto;
  justify-content: center;
  align-items: center;
  gap: 1vw;
}
.start-form .form select {
  width: 25vw;
  height: 6vw;
  justify-self: center;
  background-color: white;
  border: none;
  border-radius: 0.16vw;
  font-size: 1.5vw;
  padding-left: 1vw;
  position: relative;
  color: grey;
  cursor: pointer;
  transition: 0.5s;
}
.start-form .form select:hover {
  background-color: rgb(210, 209, 209);
  color: black;
}
.start-form .form input {
  width: 25vw;
  height: 6vw;
  background-color: white;
  border: none;
  border-radius: 0.16vw;
  justify-self: center;
  position: relative;
  color: grey;
  font-size: 1.5vw;
  padding-left: 1vw;
  transition: 0.5s;
}
.start-form .form input::-moz-placeholder {
  font-size: 1.5vw;
}
.start-form .form input::placeholder {
  font-size: 1.5vw;
}
.start-form .form input:hover {
  background-color: rgb(210, 209, 209);
  color: black;
}
.start-form .form .button-container {
  padding-top: 1vw;
  display: grid;
  justify-content: center;
}

.review {
  background: linear-gradient(-45deg, #710f0f, #A30000, #710f0f, #A30000, #710f0f, #A30000);
  background-size: 400% 400%;
  animation: gradient 8s ease infinite;
}
.review .review__content {
  padding-top: 2vw;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 3vw;
}
.review .review__content .img-container {
  display: grid;
  align-items: center;
}
.review .review__content .text-container {
  padding-top: 4vw;
  color: white;
}
.review .review__content .text-container .info-text {
  width: 80%;
  font-size: 1.5vw;
  line-height: 2vw;
  position: relative;
}
.review .review__content .text-container .info-text::before {
  content: "«";
  position: absolute;
  top: -4vw;
  left: 0vw;
  font-size: 2vw;
  color: white;
  font-family: "Bicubik";
}
.review .review__content .text-container .review__quote {
  padding-top: 2vw;
  font-size: 2vw;
  font-family: "Bicubik";
  line-height: 2.5vw;
}
.review .button-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 2.5vw;
  padding-top: 2vw;
}

.unique-project {
  background: linear-gradient(-45deg, #710f0f, #A30000, #710f0f, #A30000, #710f0f, #A30000);
  background-size: 400% 400%;
  animation: gradient 8s ease infinite;
}
.unique-project .unique-project__container {
  padding-top: 3vw;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(auto);
  gap: 2vw;
}
.unique-project .unique-project__container .text-container {
  display: grid;
  gap: 1vw;
}
.unique-project .unique-project__container p {
  font-size: 1.8vw;
}
.unique-project .unique-project__container .img-container {
  display: grid;
  align-items: center;
  height: 100%;
}
.unique-project .unique-project__container .img-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.unique-project .unique-project__container-bottom {
  padding-top: 3vw;
}
.unique-project .unique-project__container-bottom p {
  font-size: 1.89vw;
}
.unique-project .unique-project__button-container {
  padding-top: 3vw;
  display: flex;
  justify-content: center;
}

.contacts .contacts__container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 0.5fr);
}
.contacts .contacts__container .contacts__container-text {
  display: grid;
  gap: 1.5vw;
}
.contacts .contacts__container .contacts__container-text .worktime p {
  font-size: 1.5vw;
}
.contacts .contacts__container .contacts__container-text .logo-container img {
  width: 14vw;
}
.contacts .contacts__container .contacts__container-text .contacts__contacts address {
  font-style: normal;
  font-size: 0.9vw;
  font-weight: 300;
}
.contacts .contacts__container .contacts__container-text .button-container {
  display: flex;
}
.contacts .contacts__container .yandex-map {
  display: grid;
  align-items: center;
  overflow: hidden;
}
.contacts .contacts__container .yandex-map iframe {
  border: none;
  width: 100%;
  height: 100%;
}

.footer {
  background-color: black;
}
.footer .footer-container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 2.5vw;
}
.footer .footer-container .footer__logo-container {
  width: 14vw;
}
.footer .footer-container .footer__logo-container a .cls-1 {
  transition: 0.5s;
}
.footer .footer-container .footer__logo-container:hover a .cls-1 {
  fill: black;
}
.footer .footer__menu {
  display: grid;
}
.footer .footer__menu .footer__list {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(5, auto);
  gap: 2vw;
  list-style-type: none;
}
.footer .footer__menu .footer__list .footer__item {
  display: grid;
  align-items: center;
  position: relative;
}
.footer .footer__menu .footer__list .footer__item a {
  color: white;
  transition: 0.5s;
}
.footer .footer__menu .footer__list .footer__item::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0px;
  height: 1px;
  background-color: white;
  transition: 0.5s;
}
.footer .footer__menu .footer__list .footer__item:hover a {
  color: black;
}
.footer .footer__menu .footer__list .footer__item:hover::before {
  width: 100%;
  height: 1px;
  background-color: black;
}
.footer .contacts-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  gap: 1.5vw;
}
.footer .contacts-container .footer__contacts .number {
  display: flex;
  justify-content: center;
}
.footer .contacts-container .footer__contacts .number a {
  color: white;
}
.footer .contacts-container .footer__contacts address {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-style: normal;
  font-size: 0.75vw;
}

.our-teachers .swiper-1 {
  padding-top: 2vw;
  padding-left: 3vw;
  padding-right: 3vw;
  padding-bottom: 2vw;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.our-teachers .swiper-1 .swiper-button-next {
  color: #A30000;
}
.our-teachers .swiper-1 .swiper-button-prev {
  color: #A30000;
}
.our-teachers .swiper-1 .swiper-pagination-bullet-active {
  background-color: #A30000;
}
.our-teachers .swiper-slide {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1vw;
}
.our-teachers .swiper-slide .img-wrapper {
  display: flex;
  width: 100%;
  height: 25vw;
  justify-content: center;
  align-items: center;
  padding-bottom: 1vw;
}
.our-teachers .swiper-slide p {
  font-family: "Bicubik";
  font-size: 1.5vw;
}
.our-teachers .swiper-slide .lesson-type {
  width: 3.6vw;
  height: 3.6vw;
}
.our-teachers .reviews__button-container {
  padding-top: 1vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.vocal {
  background-image: url("../assets/type-vocal.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.guitar {
  background-image: url("../assets/type-guitar.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.keys {
  background-image: url("../assets/type-keys.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.drums {
  background-image: url("../assets/type-drums.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.students-pics .swiper-2 {
  padding-top: 2vw;
  padding-left: 3vw;
  padding-right: 3vw;
  padding-bottom: 2vw;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.students-pics .button-container {
  padding-top: 2vw;
  display: flex;
  justify-content: center;
}

.wrapper {
  padding: 2vw 5vw;
}

.blackout {
  animation: blackout 3s forwards;
}

.white-button {
  padding: 0.75vw 1.6875vw;
  background-color: white;
  border: 1px solid #A30000;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}
.white-button a:link,
.white-button a:visited {
  color: #A30000;
  font-size: 1.5vw;
  font-weight: 300;
}
.white-button:hover {
  background-color: #A30000;
  border: 1px solid white;
}
.white-button:hover a:link,
.white-button:hover a:visited {
  color: white;
}

.red-button {
  padding: 0.75vw 1.6875vw;
  background-color: #A30000;
  border: 1px solid #A30000;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}
.red-button a:link,
.red-button a:visited {
  color: white;
  font-size: 1.5vw;
  font-weight: 300;
}
.red-button:hover {
  background-color: white;
  border: 1px solid #A30000;
}
.red-button:hover a:link,
.red-button:hover a:visited {
  color: #A30000;
}

.black-button {
  padding: 0.75vw 1.6875vw;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(0, 0);
  backface-visibility: hidden;
  transition: 0.5s;
}
.black-button a:link,
.black-button a:visited {
  color: white;
  font-size: 1vw;
  font-weight: 300;
  transition: 0.5s;
}
.black-button:hover {
  color: black;
  background-color: white;
}
.black-button:hover a:link,
.black-button:hover a:visited {
  color: black;
}

.transparent-button {
  padding: 0.75vw 1.6875vw;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}
.transparent-button a:link,
.transparent-button a:visited {
  color: white;
  font-size: 1.5vw;
  font-weight: 300;
}
.transparent-button:hover {
  background-color: white;
  border: 1px solid #A30000;
}
.transparent-button:hover a:link,
.transparent-button:hover a:visited {
  color: #A30000;
}

.whatsapp {
  display: block;
  width: 4.16vw;
  height: 4.16vw;
  cursor: pointer;
  transition: 0.5s;
}
.whatsapp svg {
  transition: 0.5s;
}
.whatsapp:hover svg {
  transform: translateY(-8px);
}

.telegram {
  display: block;
  width: 4.16vw;
  height: 4.16vw;
  cursor: pointer;
  transition: 0.5s;
}
.telegram svg {
  transition: 0.5s;
}
.telegram:hover svg {
  transform: translateY(-8px);
}

.white-border {
  border: 0.16vw solid white;
}

.glowingRed {
  animation: glowingRed 1300ms infinite;
}

.glowingWhite {
  animation: glowingWhite 1300ms infinite;
}

.unhidden {
  animation: unhidden 1.9s 0.5s forwards;
}

.opacityZero {
  opacity: 0;
}

.df-fw {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
}/*# sourceMappingURL=index.css.map */