@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@font-face {
  font-family: 'Bicubik';
  src: url('../assets/fonts/Bicubik/Bicubik.OTF');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat';
}

h1 {
  font-family: Bicubik;
  font-size: 5vw;
}

.section-1 {
  width: 100vw;
  height: 100vh;
  
  margin: 0 auto;

  background-image: url('../assets/background/main-first-section-bg.jpg');
  background-size: 100%;
  background-repeat: no-repeat;

  .header {
    height: 11vw;
  
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5vw 3.5vw;
    
    .header-container {
      width: 100%;
      height: 8vw;

      padding: 0 3.5vw;
      border-radius: 6.66vw;

      background-color: #A30000;
      box-shadow: 0px 0px 2vw #A30000;


      display: flex;
      align-items: center;

      gap: 2.5vw;

      .logo-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%; 

        img {   
          width: 14vw;
          height: 100%;
          display: flex;
        }
      }
    }

    .header__menu {
      height: 100%;
      width: 50vw;
      display: flex;
      align-items: center;


      .header__list {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2.5vw;

        list-style-type: none;

        .header__item {
          display: flex;
          align-items: center;
          justify-content: center;

          a {
            font-size: 1.8vw;
            color: white;
            
            text-decoration: none;
          }
        }
      }
    }

    .contacts-container {
      width: 28vw;
      height: 100%;
      display: flex;
      align-items: center;
      gap: 2.5vw;

      .callback {
        width: 13vw;
        height: 2.5vw;

        cursor: pointer;
        
        border: none;
        border-radius: 6.66vw;
        padding: 0 0.5vw;
        
        display: flex;
        align-items: center;
        justify-content: center;
        
        color: white;
        background-color: black;
        font-size: 1vw;
      }

      .contacts {
        width: 13vw;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .number {
          display: flex;
          justify-content: center;
          align-items: center;

          a {
            text-decoration: none;
            color: white;
            font-size: 1.5vw;
          }
        }
        
        address {
          color: white;
          font-style: normal;
          font-size: 0.75vw;
        }
      }
    }
  }

  .section-1__content {
    padding: 4.25vw 0px 0px 7.66vw;
    height: 45.41vw;
    color: white;
    background-image: url('../assets/red-line.png');
    background-position: 5.83vw 9.16vw;
    background-size: 55vw;
    background-repeat: no-repeat;
    
    .section-1__content__text-container {
      width: calc(100vw * 0.6);

      .info-text {
        padding-top: 2.5vw;
        font-size: 2vw;
        font-weight: 300;
      }
    }

    .section-1__content__button-container {
      padding-top: 2.5vw;
      display: flex;
      gap: 1.25vw;

      .whatsapp{
        width: 4.16vw;
        height: 4.16vw;
        border-radius: 6.66vw;
        background-image: url('../assets/icons/whatsapp.png');
        background-size: cover;
        background-color: #A30000;
        background-repeat: no-repeat;
        cursor: pointer;
        box-shadow: 0 0 1.66vw #A30000;
      }

      .telegram {
        width: 4.16vw;
        height: 4.16vw;
        border-radius: 6.66vw;
        background-image: url('../assets/icons/telegram.png');
        background-size: cover;
        background-color: #A30000;
        background-repeat: no-repeat;
        cursor: pointer;
        box-shadow: 0 0 1.66vw #A30000;
      }

      .try-lesson {
        width: 28.5vw;
        height: 4.16vw;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #A30000;
        border-radius: 6.66vw;
        box-shadow: 0 0 1.66vw #A30000;
        font-size: 2.33vw;
        cursor: pointer;
      }
    }
  }
}