@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import './reset.css';

@font-face {
  font-family: 'Bicubik';
  src: url('../assets/fonts/Bicubik/Bicubik.OTF');
}

:root {
  --red: #A30000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat';
}

h1 {
  font-family: Bicubik;
  font-size: 5vw;
}

h2 {
  font-size: 2.6vw;
  font-weight: bold;
  color: white;
}

p {
  font-size: 2vw;
  font-weight: 300;
}

.h1-like {
  font-size: 3.5vw;
  position: relative;

  span {
    font-family: 'Bicubik';
    color: black;
  }

  &:after {
    content: '– Игорь Борисович Сандлер';
    font-family: 'Montserrat';
    font-size: 1.25vw;
    font-weight: 300;
    position: absolute;   
    bottom: -4vw;
    right: -4vw;
  }
}

.section-1 {
  height: 55vw;

  background-image: url('../assets/background/main-first-section-bg.jpg');
  background-size: 100%;
  background-repeat: no-repeat;

  .header {
    height: 11vw;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5vw 3.5vw;

    .header-container {
      width: 100%;
      height: 8vw;

      padding: 0 3vw;
      border-radius: 6.66vw;

      background-color: var(--red);
      box-shadow: 0px 0px 2vw var(--red);


      display: flex;
      align-items: center;

      gap: 2.5vw;

      .logo-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;

        img {
          width: 14vw;
          height: 100%;
          display: flex;
        }
      }
    }

    .header__menu {
      height: 100%;
      width: 50vw;
      display: flex;
      align-items: center;


      .header__list {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2vw;

        list-style-type: none;

        .header__item {
          display: flex;
          align-items: center;
          justify-content: center;

          a {
            font-size: 1.8vw;
            color: white;

            text-decoration: none;
          }
        }
      }
    }

    .contacts-container {
      width: 28vw;
      height: 100%;
      display: flex;
      align-items: center;
      gap: 2.5vw;

      .callback {
        width: 13vw;
        height: 2.5vw;

        cursor: pointer;

        border: none;
        border-radius: 6.66vw;
        padding: 0 0.5vw;

        display: flex;
        align-items: center;
        justify-content: center;

        color: white;
        background-color: black;
        font-size: 1vw;
      }

      .contacts {
        width: 13.5vw;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .number {
          display: flex;
          justify-content: center;
          align-items: center;

          a {
            text-decoration: none;
            color: white;
            font-size: 1.5vw;
          }
        }

        address {
          color: white;
          font-style: normal;
          font-size: 0.75vw;
        }
      }
    }
  }

  .section-1__content {
    padding: 4.25vw 0px 0px 7.66vw;
    height: 44vw;
    color: white;
    background-image: url('../assets/red-line.png');
    background-position: 5.83vw 9.16vw;
    background-size: 55vw;
    background-repeat: no-repeat;

    .section-1__content__text-container {
      width: calc(100vw * 0.6);

      .info-text {
        padding-top: 2.5vw;
      }
    }

    .section-1__content__button-container {
      padding-top: 2.5vw;
      display: flex;
      gap: 1.25vw;

      .whatsapp {
        width: 4.16vw;
        height: 4.16vw;
        border-radius: 6.66vw;
        background-image: url('../assets/icons/whatsapp.png');
        background-size: cover;
        background-color: var(--red);
        background-repeat: no-repeat;
        cursor: pointer;
        box-shadow: 0 0 1.66vw var(--red);
      }

      .telegram {
        width: 4.16vw;
        height: 4.16vw;
        border-radius: 6.66vw;
        background-image: url('../assets/icons/telegram.png');
        background-size: cover;
        background-color: var(--red);
        background-repeat: no-repeat;
        cursor: pointer;
        box-shadow: 0 0 1.66vw var(--red);
      }

      .try-lesson {
        width: 28.5vw;
        height: 4.16vw;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--red);
        border-radius: 6.66vw;
        box-shadow: 0 0 1.66vw var(--red);
        font-size: 2.33vw;
        cursor: pointer;
      }
    }
  }
}

.section-2 {

  padding: 7vw 7.5vw 5vw 7.5vw;

  background-image: url('../assets/section-2-illustration.png'), url('../assets/background/white-bg.jpg');
  background-size: 55%, cover;
  background-repeat: no-repeat, no-repeat;
  background-position-X: 100%;

  .section-2__menu {

    .section-2__list {
      display: flex;
      // justify-content: center;
      align-items: center;
      padding-top: 4vw;

      list-style-type: none;
      gap: 2.5vw;

      .section-2__item {
        // padding-top: 1vw;
        padding: 1vw 2.25vw 1vw 2.25vw;
        display: flex;
        justify-content: center;
        align-items: center;
        border: .16vw solid var(--red);
        border-radius: 6.66vw;
        font-size: 2vw;
        color: var(--red);
        cursor: pointer;

      }

      .selected {
        background-color: var(--red);
        color: white;
      }
    }
  }

  .section-2__content {
    padding-top: 5vw;

    .section-2__cards {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      // align-items: center;
      gap: 1.5vw;

      .acoustic-guitar {
        min-width: 27vw;
        height: 14vw;
        border-radius: 2vw;
        border: .16vw solid var(--red);
        background: url('../assets/acoustic-guitar.png');
        background-color: red;
        background-size: 100%;
        background-repeat: no-repeat;

        display: flex;
        justify-content: center;

        position: relative;
      }

      .electric-guitar {
        min-width: 27vw;
        height: 14vw;
        border-radius: 2vw;
        border: .16vw solid var(--red);
        background: url('../assets/acoustic-guitar.png');
        background-color: red;
        background-size: 100%;
        background-repeat: no-repeat;

        display: flex;
        justify-content: center;

        position: relative;

      }

      .bass-guitar {
        min-width: 27vw;
        height: 14vw;
        border-radius: 2vw;
        border: .16vw solid var(--red);
        background: url('../assets/acoustic-guitar.png');
        background-color: red;
        background-size: 100%;
        background-repeat: no-repeat;

        display: flex;
        justify-content: center;

        position: relative;
      }

      .pop-vocal {
        min-width: 27vw;
        height: 14vw;
        border-radius: 2vw;
        border: .16vw solid var(--red);
        background: url('../assets/acoustic-guitar.png');
        background-color: red;
        background-size: 100%;
        background-repeat: no-repeat;

        display: flex;
        justify-content: center;

        position: relative;
      }

      .folk-vocal {
        min-width: 27vw;
        height: 14vw;
        border-radius: 2vw;
        border: .16vw solid var(--red);
        background: url('../assets/acoustic-guitar.png');
        background-color: red;
        background-size: 100%;
        background-repeat: no-repeat;

        display: flex;
        justify-content: center;

        position: relative;
      }

      .academic-vocal {
        min-width: 27vw;
        height: 14vw;
        border-radius: 2vw;
        border: .16vw solid var(--red);
        background: url('../assets/acoustic-guitar.png');
        background-color: red;
        background-size: 100%;
        background-repeat: no-repeat;

        display: flex;
        justify-content: center;

        position: relative;
      }
    }
  }
}

.buttons-container {
  padding-top: 5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;

  .all-courses {
    width: 17vw;
    height: 4vw;
    background-color: white;
    border: .16vw solid var(--red);
    border-radius: 6.66vw;

    display: flex;
    justify-content: center;
    align-items: center;

    a:link,
    a:visited {
      text-decoration: none;
      color: var(--red);
      font-size: 2vw;
      font-weight: 300;
    }
  }

  .sign {
    width: 17vw;
    height: 4vw;
    background-color: var(--red);
    border-radius: 6.66vw;

    display: flex;
    justify-content: center;
    align-items: center;

    a:link,
    a:visited {
      text-decoration: none;
      color: white;
      font-size: 2vw;
      font-weight: 300;
    }
  }
}

.card-container {
  width: 100%;
  height: 100%;
  padding: 1vw 3.5vw 0;
  border-radius: inherit;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1vw;

  background-color: rgba(0, 0, 0, 0.3);

  div {
    display: flex;
    justify-content: center;
  }

  .more {

    font-size: 1.25vw;
    width: 10vw;
    height: 2.16vw;
    color: white;
    background-color: var(--red);
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 6.66vw;

    font-weight: 300;

  }
}

.section-3 {
  padding: 6.5vw 8.833vw 9.5vw 7.66vw;
  background-size: 45vw, 47vw, 42.25vw 38.75vw, cover;
  background-image: url('../assets/sandler.png'), url('../assets/sandler-text.png'), url('../assets/concert-hall.png'), url('../assets/background/red-bg.jpg');
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
  background-position: left bottom, 41vw 45.5vw, right 20%, center;

  .text-top {
    // height: 15vw;

    .section-3__text-container-top {
      padding-top: 4.33vw;
      height: 100%;
      display: flex;
      gap: 2vw;
    }

    .black-star {
      height: 11vw;
      width: 3vw;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 3vw;
        height: 3vw;
      }
    }

    .heading-p {

      font-size: 1.5vw;
      color: white;

      &::first-line {
        font-weight: 700;
      }
    }

    .foundation-year {
      padding-top: 4vw;

      p {
        font-size: 2vw;
        color: white;
      }
    }

    .years-in-business {
      padding-top: 4vw;

      p {
        font-size: 2vw;
        color: white;
      }
    }
  }

  .text-bottom {
    padding-top: 16.5vw;
    display: flex;
    justify-content: flex-end;
  }
}

.black {
  color: black;
}

.white {
  color: white;
}