@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@font-face {
  font-family: 'Bicubik';
  src: url('../assets/fonts/Bicubik/Bicubik.OTF');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat';
}

h1 {
  font-family: Bicubik;
  font-size: 63px;
}

.section-1 {
  width: 1200px;
  height: 100vh;
  
  margin: 0 auto;

  background-image: url('../assets/background/main-first-section-bg.jpg');
  background-size: 100%;
  background-repeat: no-repeat;

  .header {
    height: 130px;  
  
    display: flex;
    justify-content: center;
    align-items: center;
    
    .header-container {
      width: 96%;
      height: 98px;

      padding: 0 60px;
      border-radius: 80px;

      // background-color: rgb(183, 6, 3);
      background-color: #A30000;
      box-shadow: 0px 0px 10px #A30000;


      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 30px;

      .logo-container {
        height: 100%; 

        img {   
          width: 200px;
          height: 100%;

          object-fit: cover;
        }
      }
    }

    .header__menu {
      width: 450px;

      .header__list {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;

        list-style-type: none;

        .header__item {

          a {
            font-size: 20px;
            color: white;
            
            text-decoration: none;
          }
        }
      }
    }

    .contacts-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 30px;

      .callback {
        width: 139px;
        height: 30px;

        cursor: pointer;
        
        border: none;
        border-radius: 80px;
        padding: 9px 0px 10px;
        
        display: flex;
        align-items: center;
        justify-content: center;
        
        color: white;
        background-color: black;
        font-size: 12px;
      }

      .contacts {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .number {
          a {
            text-decoration: none;
            color: white;
            font-size: 18px;
          }
        }
        address {
          color: white;
          font-style: normal;
          font-size: 9px
        }
      }
    }
  }

  .section-1__content {
    padding: 51px 0px 0px 92px;
    height: 545px;
    color: white;
    background-image: url('../assets/red-line.png');
    background-position: 70px 110px;
    background-size: 58%;
    background-repeat: no-repeat;
    
    .section-1__content__text-container {
      width: 800px;

      .info-text {
        padding-top: 30px;
        font-size: 23px;
        font-weight: 300;
      }
    }

    .section-1__content__button-container {
      padding-top: 30px;
      display: flex;
      gap: 15px;

      .whatsapp{
        width: 50px;
        height: 50px;
        border-radius: 80px;
        background-image: url('../assets/icons/whatsapp.png');
        background-size: cover;
        background-color: #A30000;
        background-repeat: no-repeat;
        cursor: pointer;
        box-shadow: 0 0 10px #A30000;
      }

      .telegram {
        width: 50px;
        height: 50px;
        border-radius: 80px;
        background-image: url('../assets/icons/telegram.png');
        background-size: cover;
        background-color: #A30000;
        background-repeat: no-repeat;
        cursor: pointer;
        box-shadow: 0 0 10px #A30000;
      }

      .try-lesson {
        width: 342px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #A30000;
        border-radius: 80px;
        box-shadow: 0 0 10px #A30000;
        font-size: 28px;
        cursor: pointer;
      }
    }
  }
}