@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import './reset.css';
@font-face {
  font-family: "Bicubik";
  src: url("../assets/fonts/Bicubik/Bicubik.OTF");
}
:root {
  --swiper-theme-color: var(--red);
  --red: #A30000;
}

@font-face {
  font-family: swiper-icons;
  src: url("data:application/font-woff;charset=utf-8;base64, d09GRgABAAAAAAZgABAAAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAAGRAAAABoAAAAci6qHkUdERUYAAAWgAAAAIwAAACQAYABXR1BPUwAABhQAAAAuAAAANuAY7+xHU1VCAAAFxAAAAFAAAABm2fPczU9TLzIAAAHcAAAASgAAAGBP9V5RY21hcAAAAkQAAACIAAABYt6F0cBjdnQgAAACzAAAAAQAAAAEABEBRGdhc3AAAAWYAAAACAAAAAj//wADZ2x5ZgAAAywAAADMAAAD2MHtryVoZWFkAAABbAAAADAAAAA2E2+eoWhoZWEAAAGcAAAAHwAAACQC9gDzaG10eAAAAigAAAAZAAAArgJkABFsb2NhAAAC0AAAAFoAAABaFQAUGG1heHAAAAG8AAAAHwAAACAAcABAbmFtZQAAA/gAAAE5AAACXvFdBwlwb3N0AAAFNAAAAGIAAACE5s74hXjaY2BkYGAAYpf5Hu/j+W2+MnAzMYDAzaX6QjD6/4//Bxj5GA8AuRwMYGkAPywL13jaY2BkYGA88P8Agx4j+/8fQDYfA1AEBWgDAIB2BOoAeNpjYGRgYNBh4GdgYgABEMnIABJzYNADCQAACWgAsQB42mNgYfzCOIGBlYGB0YcxjYGBwR1Kf2WQZGhhYGBiYGVmgAFGBiQQkOaawtDAoMBQxXjg/wEGPcYDDA4wNUA2CCgwsAAAO4EL6gAAeNpj2M0gyAACqxgGNWBkZ2D4/wMA+xkDdgAAAHjaY2BgYGaAYBkGRgYQiAHyGMF8FgYHIM3DwMHABGQrMOgyWDLEM1T9/w8UBfEMgLzE////P/5//f/V/xv+r4eaAAeMbAxwIUYmIMHEgKYAYjUcsDAwsLKxc3BycfPw8jEQA/gZBASFhEVExcQlJKWkZWTl5BUUlZRVVNXUNTQZBgMAAMR+E+gAEQFEAAAAKgAqACoANAA+AEgAUgBcAGYAcAB6AIQAjgCYAKIArAC2AMAAygDUAN4A6ADyAPwBBgEQARoBJAEuATgBQgFMAVYBYAFqAXQBfgGIAZIBnAGmAbIBzgHsAAB42u2NMQ6CUAyGW568x9AneYYgm4MJbhKFaExIOAVX8ApewSt4Bic4AfeAid3VOBixDxfPYEza5O+Xfi04YADggiUIULCuEJK8VhO4bSvpdnktHI5QCYtdi2sl8ZnXaHlqUrNKzdKcT8cjlq+rwZSvIVczNiezsfnP/uznmfPFBNODM2K7MTQ45YEAZqGP81AmGGcF3iPqOop0r1SPTaTbVkfUe4HXj97wYE+yNwWYxwWu4v1ugWHgo3S1XdZEVqWM7ET0cfnLGxWfkgR42o2PvWrDMBSFj/IHLaF0zKjRgdiVMwScNRAoWUoH78Y2icB/yIY09An6AH2Bdu/UB+yxopYshQiEvnvu0dURgDt8QeC8PDw7Fpji3fEA4z/PEJ6YOB5hKh4dj3EvXhxPqH/SKUY3rJ7srZ4FZnh1PMAtPhwP6fl2PMJMPDgeQ4rY8YT6Gzao0eAEA409DuggmTnFnOcSCiEiLMgxCiTI6Cq5DZUd3Qmp10vO0LaLTd2cjN4fOumlc7lUYbSQcZFkutRG7g6JKZKy0RmdLY680CDnEJ+UMkpFFe1RN7nxdVpXrC4aTtnaurOnYercZg2YVmLN/d/gczfEimrE/fs/bOuq29Zmn8tloORaXgZgGa78yO9/cnXm2BpaGvq25Dv9S4E9+5SIc9PqupJKhYFSSl47+Qcr1mYNAAAAeNptw0cKwkAAAMDZJA8Q7OUJvkLsPfZ6zFVERPy8qHh2YER+3i/BP83vIBLLySsoKimrqKqpa2hp6+jq6RsYGhmbmJqZSy0sraxtbO3sHRydnEMU4uR6yx7JJXveP7WrDycAAAAAAAH//wACeNpjYGRgYOABYhkgZgJCZgZNBkYGLQZtIJsFLMYAAAw3ALgAeNolizEKgDAQBCchRbC2sFER0YD6qVQiBCv/H9ezGI6Z5XBAw8CBK/m5iQQVauVbXLnOrMZv2oLdKFa8Pjuru2hJzGabmOSLzNMzvutpB3N42mNgZGBg4GKQYzBhYMxJLMlj4GBgAYow/P/PAJJhLM6sSoWKfWCAAwDAjgbRAAB42mNgYGBkAIIbCZo5IPrmUn0hGA0AO8EFTQAA");
  font-weight: 400;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
  text-decoration: none;
}

h1 {
  font-family: Bicubik;
  font-size: 5vw;
}

h2 {
  font-size: 2.6vw;
  font-weight: bold;
  color: white;
}

p {
  font-size: 2vw;
  font-weight: 300;
}

.section-1 {
  height: 55vw;
  background-image: url("../assets/background/main-first-section-bg.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}
.section-1 .header {
  height: 11vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5vw 3.5vw;
}
.section-1 .header .header-container {
  width: 100%;
  height: 8vw;
  padding: 0 3vw;
  border-radius: 6.66vw;
  background-color: var(--red);
  box-shadow: 0px 0px 2vw var(--red);
  display: flex;
  align-items: center;
  gap: 2.5vw;
}
.section-1 .header .header-container .logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.section-1 .header .header-container .logo-container img {
  width: 14vw;
  display: flex;
}
.section-1 .header .header__menu {
  height: 100%;
  width: 45vw;
  display: flex;
  align-items: center;
}
.section-1 .header .header__menu .header__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2vw;
  list-style-type: none;
}
.section-1 .header .header__menu .header__list .header__item {
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-1 .header .header__menu .header__list .header__item a {
  font-size: 1.8vw;
  color: white;
}
.section-1 .header .contacts-container {
  width: 33vw;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 2.5vw;
}
.section-1 .header .contacts-container .contacts {
  width: 13.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.section-1 .header .contacts-container .contacts .number {
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-1 .header .contacts-container .contacts .number a {
  color: white;
  font-size: 1.5vw;
}
.section-1 .header .contacts-container .contacts address {
  color: white;
  font-style: normal;
  font-size: 0.75vw;
}
.section-1 .section-1__content {
  padding: 4.25vw 0px 0px 7.66vw;
  height: 44vw;
  color: white;
  background-image: url("../assets/red-line.png");
  background-position: 5.83vw 9.16vw;
  background-size: 55vw;
  background-repeat: no-repeat;
}
.section-1 .section-1__content .section-1__content__text-container {
  width: 60vw;
}
.section-1 .section-1__content .section-1__content__text-container .info-text {
  padding-top: 2.5vw;
}
.section-1 .section-1__content .section-1__content__button-container {
  padding-top: 2.5vw;
  display: flex;
  gap: 1.25vw;
}
.section-1 .section-1__content .section-1__content__button-container .icon-container {
  padding-bottom: 1vw;
  gap: 1vw;
  display: flex;
}
.section-1 .section-1__content .section-1__content__button-container .icon-container .whatsapp {
  width: 4.16vw;
  height: 4.16vw;
  background-size: 5vw 5vw;
  background-position: center center;
  box-shadow: 0 0 10px var(--red);
}
.section-1 .section-1__content .section-1__content__button-container .icon-container .telegram {
  width: 4.16vw;
  height: 4.16vw;
  background-size: 5vw 5vw;
  background-position: center center;
  box-shadow: 0 0 10px var(--red);
}
.section-1 .section-1__content .section-1__content__button-container .try-lesson {
  width: 28.5vw;
  height: 4.16vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--red);
  border-radius: 6.66vw;
  box-shadow: 0 0 1.66vw var(--red);
  font-size: 2.33vw;
  cursor: pointer;
}

.our-courses {
  background-image: url("../assets/section-2-illustration.png"), url("../assets/background/white-bg.jpg");
  background-size: 55%, cover;
  background-repeat: no-repeat, no-repeat;
  background-position-X: 100%;
}
.our-courses .our-courses__menu .our-courses__list {
  display: flex;
  align-items: center;
  padding-top: 3vw;
  list-style-type: none;
  gap: 2vw;
}
.our-courses .our-courses__menu .our-courses__list .our-courses__item {
  padding: 0.75vw 1.6875vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.16vw solid var(--red);
  border-radius: 6.66vw;
  background-color: white;
  font-size: 1.5vw;
  color: var(--red);
  cursor: pointer;
  transition: 0.4s;
}
.our-courses .our-courses__menu .our-courses__list .selected {
  background-color: var(--red);
  color: white;
}
.our-courses .our-courses__content {
  padding-top: 3vw;
}
.our-courses .our-courses__content .our-courses__card-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: flex-start;
  align-items: center;
}
.our-courses .our-courses__content .our-courses__card-list .card {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.our-courses .our-courses__content .our-courses__card-list .card .card__img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.our-courses .our-courses__content .our-courses__card-list .card .card-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1vw;
}
.our-courses .our-courses__content .our-courses__card-list .card .card-container h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  font-size: 2vw;
}
.our-courses .our-courses__content .our-courses__card-list .card .card-container .more {
  width: 10vw;
  height: 2.16vw;
  border-radius: 6.66vw;
  background-color: var(--red);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25vw;
  font-weight: 300;
  color: white;
  cursor: pointer;
  transition: 0.5s;
}
.our-courses .our-courses__content .our-courses__card-list .card .card-container .more:hover {
  background-color: white;
  color: var(--red);
}

.buttons-container {
  padding-top: 3vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5vw;
}

.who-we-are {
  background-size: 45vw, 47vw, 42.25vw 38.75vw, cover;
  background-image: url("../assets/sandler.png"), url("../assets/sandler-text.png"), url("../assets/concert-hall.png"), url("../assets/background/red-bg.jpg");
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
  background-position: left bottom, 41vw 45.5vw, right 20%, center;
}
.who-we-are .container__text-top .section-3__text-container-top {
  padding-top: 4.33vw;
  height: 100%;
  display: flex;
  gap: 2vw;
}
.who-we-are .container__text-top .black-star {
  height: 11vw;
  width: 3vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.who-we-are .container__text-top .black-star img {
  width: 3vw;
  height: 3vw;
}
.who-we-are .container__text-top .heading-p {
  font-size: 1.5vw;
  color: white;
}
.who-we-are .container__text-top .heading-p::first-line {
  font-weight: 700;
}
.who-we-are .container__text-top .foundation-year {
  padding-top: 4vw;
}
.who-we-are .container__text-top .foundation-year p {
  font-size: 2vw;
  color: white;
}
.who-we-are .container__text-top .years-in-business {
  padding-top: 4vw;
}
.who-we-are .container__text-top .years-in-business p {
  font-size: 2vw;
  color: white;
}
.who-we-are .container__text-bottom {
  padding-top: 14.5vw;
  padding-bottom: 4vw;
  display: flex;
  justify-content: flex-end;
}
.who-we-are .container__text-bottom .h1-like {
  font-size: 3.5vw;
  position: relative;
}
.who-we-are .container__text-bottom .h1-like span {
  font-family: "Bicubik";
  color: black;
}
.who-we-are .container__text-bottom .h1-like:after {
  content: "– Игорь Борисович Сандлер";
  font-family: "Montserrat";
  font-size: 1.25vw;
  font-weight: 300;
  position: absolute;
  bottom: -2vw;
  right: -1vw;
}

.black {
  color: black;
}

.white {
  color: white;
}

.section-4 {
  display: flex;
  justify-content: center;
  padding-top: 6.5vw;
  padding-bottom: 6.5vw;
  background-image: url("../assets/background/form-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.section-4 form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2vw;
}
.section-4 form fieldset {
  background-color: white;
  width: 57vw;
  height: 58vw;
  padding: 6vw;
  border-radius: 3vw;
  box-shadow: 0 0 1vw black;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1.5vw;
}
.section-4 form fieldset .heading {
  font-family: "Bicubik";
  font-size: 3.5vw;
  text-align: center;
  padding-bottom: 3vw;
}
.section-4 form fieldset select {
  width: 100%;
  padding: 2vw 3vw;
  border: 0.16vw solid var(--red);
  border-radius: 3vw;
  display: flex;
  flex-direction: column;
}
.section-4 form fieldset select::-moz-placeholder {
  font-size: 2vw;
  color: var(--red);
}
.section-4 form fieldset select::placeholder {
  font-size: 2vw;
  color: var(--red);
}
.section-4 form fieldset select option {
  background-color: green;
  font-size: 2vw;
  color: var(--red);
}
.section-4 form fieldset input {
  width: 100%;
  padding: 2vw 3vw;
  border: 0.16vw solid var(--red);
  border-radius: 3vw;
}
.section-4 form fieldset input::-moz-placeholder {
  font-size: 2vw;
  color: var(--red);
}
.section-4 form fieldset input::placeholder {
  font-size: 2vw;
  color: var(--red);
}
.section-4 form fieldset .request {
  margin-top: 5vw;
  width: auto;
  padding: 1vw 2vw;
  background-color: var(--red);
  border-radius: 3vw;
  color: white;
  font-size: 2vw;
  font-weight: 300;
  cursor: pointer;
}

.section-5 {
  padding: 6.66vw 7.33vw 6.8vw 7.66vw;
  background-image: url("../assets/kids.png"), url("../assets/background/red-bg.jpg");
  background-repeat: no-repeat, no-repeat;
  background-size: 32vw 29.83vw, cover;
  background-position: 0% 50%, center center;
  color: white;
}
.section-5 h1 {
  padding-bottom: 2vw;
}
.section-5 .h1-quote {
  font-family: "Bicubik";
  font-size: 5vw;
  padding-bottom: 1vw;
}
.section-5 .section-5__content {
  padding-left: 28vw;
  padding-bottom: 3vw;
}
.section-5 .section-5__content p {
  font-size: 1.5vw;
  line-height: 2vw;
}
.section-5 .section-5__content .maria {
  padding-top: 4.66vw;
  font-size: 2vw;
  font-family: "Bicubik";
  line-height: 2.5vw;
}
.section-5 .button-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 2.5vw;
  padding-top: 2vw;
  font-size: 2vw;
}

.section-7 {
  color: white;
  padding: 6.58vw 4vw 5.33vw 7.66vw;
  background-color: black;
  background-image: url("../assets/dance-hall.png"), url("../assets/dance-hall.png"), url("../assets/background/red-bg.jpg");
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-size: 37.5vw 27.1vw, 37.5vw 27.1vw, cover;
  background-position: 100% 29.5%, 0% 68%, center center;
}
.section-7 h1 {
  padding-bottom: 5vw;
}
.section-7 .section-7__text-container-top {
  padding-bottom: 5vw;
}
.section-7 .section-7__text-container-top p {
  font-size: 1.89vw;
}
.section-7 .section-7__text-container-middle {
  padding-bottom: 5vw;
  display: flex;
  justify-content: flex-end;
}
.section-7 .section-7__text-container-middle p {
  font-size: 1.89vw;
}
.section-7 .section-7__text-container-bottom {
  padding-bottom: 5vw;
}
.section-7 .section-7__text-container-bottom p {
  font-size: 1.89vw;
}
.section-7 .section-7__button-container {
  display: flex;
  justify-content: center;
}
.section-7 .section-7__button-container .try-white {
  color: white;
  padding: 1vw 3vw;
  background-color: transparent;
  border-radius: 6.66vw;
  border: 0.16vw solid white;
  cursor: pointer;
  font-size: 2vw;
}

.section-8 {
  display: flex;
  align-items: center;
  padding: 5.33vw 7.5vw;
  background-image: url("../assets/background/white-bg.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.section-8 .mina {
  font-size: 1.5vw;
  padding-bottom: 2vw;
}
.section-8 .sandler-container {
  width: 30vw;
  padding-bottom: 2vw;
  display: flex;
}
.section-8 .sandler-container img {
  display: block;
  max-width: 100%;
  max-height: 8.75vw;
}
.section-8 .section-8__number a {
  color: black;
  font-size: 2.83vw;
}
.section-8 address {
  color: black;
  font-style: normal;
  font-size: 1.385vw;
  font-weight: 300;
  padding-bottom: 2vw;
}
.section-8 .icon-container {
  padding-bottom: 1vw;
  gap: 1vw;
  display: flex;
}
.section-8 .icon-container .whatsapp {
  box-shadow: initial;
}
.section-8 .icon-container .telegram {
  box-shadow: initial;
}
.section-8 .icon-container .tiktok {
  box-shadow: initial;
}
.section-8 .yandex-map {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-8 .yandex-map iframe {
  border: none;
}

.whatsapp {
  display: block;
  width: 4.16vw;
  height: 4.16vw;
  border-radius: 6.66vw;
  background-image: url("../assets/icons/whatsapp.png");
  background-size: cover;
  background-color: var(--red);
  background-repeat: no-repeat;
  cursor: pointer;
  box-shadow: 0 0 1.66vw var(--red);
}

.telegram {
  display: block;
  width: 4.16vw;
  height: 4.16vw;
  border-radius: 6.66vw;
  background-image: url("../assets/icons/telegram.png");
  background-size: cover;
  background-color: var(--red);
  background-repeat: no-repeat;
  cursor: pointer;
  box-shadow: 0 0 1.66vw var(--red);
}

.tiktok {
  display: block;
  width: 4.16vw;
  height: 4.16vw;
  border-radius: 6.66vw;
  background-image: url("../assets/icons/tiktok.png");
  background-size: cover;
  background-color: var(--red);
  background-repeat: no-repeat;
  cursor: pointer;
  box-shadow: 0 0 1.66vw var(--red);
}
.tiktok a {
  width: 100%;
  height: 100%;
}

.callback {
  cursor: pointer;
  border: none;
  border-radius: 6.66vw;
  padding: 0.75vw 1.33vw;
  color: white;
  background-color: black;
  font-size: 1vw;
}

.footer {
  height: 29.75vw;
  background-color: var(--red);
  padding: 5.33vw 7.5vw;
}
.footer .footer__top-line {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2vw;
}
.footer .footer__top-line img {
  width: 23vw;
}
.footer .footer__top-line .footer__menu {
  height: 100%;
  width: 21.1vw;
  display: flex;
}
.footer .footer__top-line .footer__menu .footer__list {
  display: flex;
  max-height: 100%;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1vw;
  list-style-type: none;
}
.footer .footer__top-line .footer__menu .footer__list .footer__item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 2vw;
}
.footer .footer__top-line .footer__menu .footer__list .footer__item a {
  font-size: 1.8vw;
  color: white;
}
.footer .footer__top-line .footer__icons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.footer .footer__top-line .footer__icons-container .icon-container {
  width: 100%;
  padding-bottom: 1vw;
  gap: 1vw;
  display: flex;
}
.footer .footer__top-line .footer__icons-container .icon-container .whatsapp {
  width: 6.25vw;
  height: 6.25vw;
  background-size: 7.5vw 7.5vw;
  background-position: center center;
  box-shadow: initial;
  border: 0.16vw solid white;
}
.footer .footer__top-line .footer__icons-container .icon-container .telegram {
  width: 6.25vw;
  height: 6.25vw;
  background-size: 7.5vw 7.5vw;
  background-position: center center;
  box-shadow: initial;
  border: 0.16vw solid white;
}
.footer .footer__top-line .footer__icons-container .icon-container .tiktok {
  width: 6.25vw;
  height: 6.25vw;
  background-size: 7.5vw 7.5vw;
  background-position: center center;
  box-shadow: initial;
  border: 0.16vw solid white;
}
.footer .footer__top-line .callback-footer {
  font-size: 2vw;
  font-weight: 300;
}
.footer .footer__bottom-line {
  padding-top: 1vw;
  display: flex;
  justify-content: space-between;
}
.footer .footer__bottom-line p {
  font-size: 1.5vw;
  color: white;
}
.footer .footer__bottom-line .footer__contacts-container {
  padding-top: 2vw;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}
.footer .footer__bottom-line .footer__contacts-container a {
  color: white;
  font-size: 2.7vw;
}
.footer .footer__bottom-line .footer__contacts-container address {
  color: white;
  font-style: normal;
  font-size: 1.385vw;
  font-weight: 300;
}

.our-teachers {
  padding: 5.33vw 7.5vw;
}
.our-teachers .swiper {
  width: 100%;
  height: 100%;
}
.our-teachers .swiper-slide {
  height: 40vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}
.our-teachers .swiper-slide .img-wrapper {
  display: flex;
  max-width: 100%;
  height: 25.4vw;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}
.our-teachers .swiper-slide .img-wrapper img {
  max-width: 100%;
  max-height: 100%;
  display: flex;
  border-radius: 3vw;
}
.our-teachers .swiper-slide p {
  font-family: "Bicubik";
  font-size: 1.5vw;
}
.our-teachers .swiper-slide .lesson-type {
  width: 3.6vw;
  height: 3.6vw;
}
.our-teachers .reviews__button-container {
  padding-top: 1vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.vocal {
  background-image: url("../assets/type-vocal.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.guitar {
  background-image: url("../assets/type-guitar.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.keys {
  background-image: url("../assets/type-keys.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.drums {
  background-image: url("../assets/type-drums.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.students-pics {
  padding: 5.33vw 7.5vw;
}
.students-pics .swiper {
  width: 85.83vw;
  height: 100%;
}
.students-pics .swiper-slide {
  width: 100%;
  height: 40vw;
  text-align: center;
  font-size: 18px;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}
.students-pics .swiper-slide .img-wrapper {
  display: flex;
  max-width: 100%;
  height: 25.4vw;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}
.students-pics .swiper-slide .img-wrapper img {
  max-width: 100%;
  max-height: 100%;
  display: flex;
  border-radius: 3vw;
}

.wrapper {
  padding: 5.33vw 7.5vw;
}

.white-button {
  padding: 0.75vw 1.6875vw;
  background-color: white;
  border: 0.16vw solid var(--red);
  border-radius: 6.66vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.white-button a:link,
.white-button a:visited {
  color: var(--red);
  font-size: 1.5vw;
  font-weight: 300;
}

.red-button {
  padding: 0.75vw 1.6875vw;
  background-color: var(--red);
  border-radius: 6.66vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.red-button a:link,
.red-button a:visited {
  color: white;
  font-size: 1.5vw;
  font-weight: 300;
}

.black-button {
  padding: 0.75vw 1.6875vw;
  background-color: black;
  border-radius: 6.66vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.black-button a:link,
.black-button a:visited {
  color: white;
  font-size: 1.5vw;
  font-weight: 300;
}

.font-1vw a:link,
.font-1vw a:visited {
  font-size: 1vw;
}/*# sourceMappingURL=style.css.map */